<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h2>Info Submitted</h2>
    <div class="main">
    <div class="first">
        <p>Name</p>
        <p>Dojo Location</p>
        <p>Favorite Language</p>
        <p>Message</p>
    </div>
    <div class="Variables">
        <p>@ViewBag.Name</p>
        <p>@ViewBag.locatioon</p>
        <p>@ViewBag.Languagee</p>
        <p>@ViewBag.Messagee</p>

        

    </div>
    <form action="Index" class="inline">
    <button class="button" >Go Back</button>
</form>
    </div>
</body>
</html>